<h1>agregar apartamento</h1>


<%= link_to "Ver lista", apartments_path %>
<%= form_for @apartment do |f| %>
  <p>
    <%= f.label :Numero %><br>
    <%= f.text_field :number %><br>
    <%= f.label :Torre %><br>
 	<%= f.select :tower_id, Tower.all.collect{|u|[u.name, u.id]} %><br>
    <%= f.label :piso %><br>
    <%= f.text_field :floor %><br>
 </p>

 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>